*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Josefin Sans', sans-serif;
  height: 90vh;
  width: 100vw;
  background-color: Linear, 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%);
}

.img-bg{
  background-image: url(/images/hero-desktop.jpg);
  background-position: center center;
  background-size: cover;
}

h1{
  font-size: 3.6rem;
  font-weight: 600;
  text-align: center;
  line-height: 1;
  text-transform: uppercase;
  color: hsl(0, 6%, 24%);
}

h5{
  color: hsl(0, 36%, 70%);
  text-align: center;
}

.email-inpt{
  flex-grow: 1;
  outline: none;
  background: transparent;
  font-family: "Josefin Sans", sans-serif;
  border-color: #ce9797;
}

.email-btn{
  cursor: pointer;
  flex-grow: 1;
  border: none;
  background: Linear-gradient(135deg, #f8bfbf, #ee8c8c);
}